@using Microsoft.AspNetCore.Identity
@using MyApp.Areas.Identity.Data

@inject SignInManager<MyAppUser> SignInManager
@inject UserManager<MyAppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="sidebar-item">
        <a id="manage" class="sidebar-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" >
            <i class="fa-solid fa-gear" style="color: #f4e3a4;"></i>
            &nbsp Settings
        </a>
    </li>
    <li class="sidebar-item">
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btnlink ">
                <i class="fa-solid fa-right-from-bracket" style="color: #f4e3a4;"></i>
                &nbsp Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="sidebar-item">
        <a class="sidebar-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
