@model IEnumerable<WebApplication1.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="part1">
    <div class="main-part ">
        <div class="cpanel">
            <div class="icon-part">
                <i class="fa-solid fa-hand-holding-dollar" aria-hidden="true"></i><br>
                <small class="valtit">Total Sales</small>
                <p class ="valcard">600DH</p>
            </div>
            <div class="card-content-part ">
                <a href="#" class="detail ">More Details </a>
            </div>
        </div>
    </div>
    <div class="main-part ">
        <div class="cpanel">
            <div class="icon-part">
                <i class="fa-solid fa-cart-shopping"></i><br>
                <small class="valtit">Total Expenses</small>
                <p class="valcard" >60</p>
            </div>
            <div class="card-content-part">
                <a href="#" class="detail">More Details </a>
            </div>
        </div>
    </div>
    <div class="main-part ">
        <div class="cpanel">
            <div class="icon-part">
                <i class="fa-solid fa-right-left"></i><br>
                <small class="valtit">Total Transactions</small>
                <p class="valcard">60</p>
            </div>
            <div class="card-content-part">
                <a href="#" class="detail">More Details </a>
            </div>
        </div>
    </div>

</div>
<div class="part2">
    <h2>Inventory Average by Category</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Average Stock Quantity</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.AverageByCategory != null && ((IEnumerable<dynamic>)ViewBag.AverageByCategory).Any())
            {
                @foreach (var item in ViewBag.AverageByCategory)
                {
                    <tr>
                        <td>@item.Category</td>
                        <td>@item.AverageStock</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No data available</td>
                </tr>
            }
        </tbody>
    </table>
</div>